<!DOCTYPE html>
<html>
  
  <head>
    <title>{{title}} -|-&nbsp Pok&eacute;mon GOgle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://orig00.deviantart.net/cf15/f/2012/027/6/6/8_bit_pokeball_by_nathanmarino-d4nsey6.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    {% block content %}
    {% endblock content %}
  </body>
 
</html>
