{% extends "base.html" %}

{% block content %}
<center>
  <h1>Login/ Register</h1>
  <div style="display: inline-block;">
    <form method="POST" action="/auth">
      <b><u>Log in here:</b></u><br><br>
      <input type="text" name="user" placeholder="Username" required><br><br>
      <input type="password" name="password" placeholder="Password" required><br><br>
      <input class="btn" type="submit" value="Log In">
    </form>

  </div>

  <img style="width:200px; margin: 20px;" src="https://orig00.deviantart.net/cf15/f/2012/027/6/6/8_bit_pokeball_by_nathanmarino-d4nsey6.png">

  <div style="display: inline-block;">
    <form action = '/create' method = 'POST'>
      <b><u>Create account here:</b></u><br><br>
      <input type ="text" name="user" placeholder="Username" required><br><br>
      <input type = 'password' name = 'password' placeholder="Password" required><br><br>
      <input type = 'password' name = 'confpass' placeholder="Password" required><br><br>
      <input class="btn"type='submit' value='Create Account' name='signup'>
    </form>
  </div>

</center>


{% endblock content %}
