{% extends "base.html" %}


{% block content %}
<center>
  <div id="map"></div>
  <a class="btn btn-danger" href="/logout">Logout</a>
</center>
<!--
    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5URvaZcxj1ZKYBUkQOhNikXG29fj3YKQ&libraries=visualization,geometry&callback=initMap"></script>

{% endblock content %}
