{% extends 'base.html' %}

{% block content %}
<center>
  <div class="boxed-container">
    <h1><b>Your Pok&eacute;mon</b></h1>
    <table>
      <tr>
        <td>Pokedex #</td>
        <td>Name</td>
        <td>Sprite</td>
        <td>Caught?</td>
      </tr>
    {% for pkmn in pokemon %}
    <tr>
      <td>{{ pkmn.id }}</td>
      <td>{{ pkmn.name }}</td>
      <td><img src="{{ pkmn.sprite }}" width="200px" alt="whodis"></td>
      <td>
        {% if pkmn.caught %}
        Yes
        {% else %}
        No
        {% endif %}
      </td>
    {% endfor %}
    </tr>
    </table>
  </div>
</center>
{% endblock content %}
