{% extends 'base.html' %}

{% block content %}
<center>
  <div class="boxed-container">
    <h1><b>Your Pok&eacute;mon</b></h1>
    <table>
      <th>
        <td>Pokedex #</td>
        <td>Name</td>
        <td>Sprite</td>
        <td>Primary Type</td>
        <td>Secondary Type</td>
        <td>Caught?</td>
        <td>Trading</td>

      </th>
      {% for pkmn in pokemon %}
      <tr>
        <td>{{ pkmn.id }}</td>
        <td><a href="/pokedex/{{ pkmn.id }}">{{ pkmn.name.capitalize() }}</a></td>
        <td><img src="{{ pkmn.sprite }}" width="200px" alt="whodis"></td>
        <td>{{ pkmn.type1 }}</td>
        <td>{{ pkmn.type2 }}</td>
        <td>
          {% if pkmn.caught %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
	<td>
	  <form method="POST" action="/trading">
	    <input class="btn" type="submit" name={{ pkmn.id }} value="Trade">
	  </form>
	</td>
        {% endfor %}
      </tr>
    </table>
  </div>
</center>
{% endblock content %}
